/* stylesheet.css */

/* Style rule for the body element */
body {
  background-color:#008000;
  background-image:url(pix/bkgdrops.jpg);
  /* Default font styling */
  font: 10pt Arial, Helvetica, Sans-Serif;
   olor: #5d3f25;
}

/* Style rule for the wrapper div */
#wrapper {
  width 900px;
  margin:0 auto;
  background-color: white;
}
/* Style for h1 headings */
h1{
   font:italic small-caps bold 24px Arial Black, Gadget, Sans-Serif;
   text-shadow:-2px -2px 2px #a48362;
   text-align:center;
}
/* Style for h2 headings */
h2{
   font:italic small-caps bold 18px Arial Black, Gadget, Sans-Serif;
   text-shadow:-1px -1px 1px #a48362;
}
/* Style for paragraphs */
p{
  line-height:1.5;
}

/* Code from Assignment for Chapter 7 */
/* === Style classes === */
/* Highlight any span of text */
.hilite{
   background-color:yellow;
}
/* Create raised appearance with border, rounded corners, and shadow */
/* Works with images, tables, and block elements (div, p, and headings) */
.raised{
   border:solid 1px gray;
   border-radius: 5px;
   box-shadow:5px 5px 5px gray;
}
/* Image floating to the left of neighboring text */
img.left {
   float: left;
   width: 30%;
   margin-right: 10px; 
}
/* Image floating to the right of neighboring text */
img.right {
   float: right;
   width: 30%;
   margin-left: 10px; 
}
/* Use class="centerall" in p or div to center
   all text and images inside the element */
.centerall{
    text-align:center;
    /* Clear any floating elements */
    clear:both;
}
/* ==== Styles for links and link states. === */
/* Unvisited links */
a:link{
    color:#0c391c;
}
/* Visited links */
a:visited{
    color:#af4600;
}
/* Mouse pointer on link */
a:hover{
    background-color:#bc9f81;
    color:#1e2953;
}
/* Mouse pointer on link and left button down */
a:active{
    background-color:#1e2953;
    color:#bc9f81;
}

/* === Styling for tables === */
  /* Styling for the table as a whole */

  /* Remove gaps between table cells */

  /* Try a differenct font */
  /* Set the top and bottom margins to 1em */
  /* Give the table header cells a dark brown (#4ce16;) background color and white text */
  /* Give all cells (header and data) a solid 1-pixel border in a medium brown (#5d3f25).
  /* Add 2 pixels of top and bottom padding and 4 pixels of side padding to all table cells.
  /* Give even-numbered table rows a tan (#c6a586;) color. */
  /* Align the contents of data cells in column 2 to the right. */
  /* Center the content of table cells in column 3. */
  /* Highlight the current row with pale yellow () on hover. */



